{% extends ['base.html.twig'] %}


    {% block title %}Tabel exercitii{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles.css') }}">
    <style>
        :root {
            --background-image-url: url('{{ asset('images/HomepageBackground.jpg') }}');
        }
    </style>
{% endblock %}

        {% block body %}
        {% include 'homepage/navbar.html.twig' %}
        <div class="container-md mb-5 ms-5">
            <br><br><br><br><br>
            <h2 class="text-white mb-4">Tabel exercitii</h2>
            <a href="{{ path('create_exercise') }}" class="btn btn-light ">Adaugă exercitiu</a>
            <div class="row">
                {% for exercise in exercises %}
                    <div class="col-md-4 mt-5 mb-4">
                        <div class="card h-100">
                            <div class="card-body bg-dark text-white">
                                <div class="d-flex flex-row justify-content-between">
                                    <h5 class="card-title">{{ exercise.getNume }}</h5>
                                    <a href="{{ path('edit_exercise', {'id': exercise.getId}) }}" class="btn btn-light ms-5">Editeaza</a>
                                </div>
                                <h6 class="card-subtitle mb-2 text-muted">Tip: {{ exercise.getTip.getName() }}</h6>
                                <div class="d-flex flex-column justify-content-between">
                                {% if exercise.getLinkVideo != null %}
                                   <p><a href="{{ exercise.getLinkVideo }}" class="card-link text-white text-decoration-none">Vezi video</a></p>
                                {% else %}
                                    <p>Nu exista link disponibil</p>
                                {% endif %}
                                
                                </div>
                                </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
