{% extends 'base.html.twig' %}

{% block title %}Adaugă logs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles.css') }}">
    <style>
        :root {
            --background-image-url: url('{{ asset('images/HomepageBackground.jpg') }}');
        }
    </style>
{% endblock %}

{% block body %}

    {% include 'homepage/navbar.html.twig' %}

    <div class="form-container">
        <h1 class="mt-5 pt-5">Adaugă logs</h1>
        {{ form_start(form) }}
        {{ form_row(form.nr_reps) }}
        {{ form_row(form.durata) }}
        {{ form_end(form) }}
    </div>
{% endblock %}