{% extends 'base.html.twig' %}

{% block title %}Editeaza logs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles.css') }}">
    <style>
        :root {
            --background-image-url: url('{{ asset('images/HomePageBackground.jpg') }}');
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'homepage/navbar.html.twig' %}
    <div class="hero-text">
        <p><a href="{{ path('app_homepage_homepage') }}" class="text-decoration-none text-white">Smart<br> Workout</a></p>
    </div>
    <div class="form-container">
        <h1 class="mt-5 pt-5">Editeaza logs</h1>
        {{ form_start(form) }}
        {{ form_row(form.nr_reps) }}
        {{ form_row(form.durata) }}
        {{ form_end(form) }}
    </div>
    <div class="grey-bar">.</div>
    {% include '/homepage/footer.html.twig' %}
{% endblock %}