{% extends 'base.html.twig' %}

{% block title %}Utilizatori {%endblock%}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles.css') }}">
    <style>
        :root {
            --background-image-url: url('{{ asset('images/HomePageBackground.jpg') }}');
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'homepage/navbar.html.twig' %}
    <div class="hero-text">
        <p><a href="{{ path('app_homepage_homepage') }}" class="text-decoration-none text-white">Smart<br> Workout</a></p>
    </div>
    <div class="container-fluid px-5">
        <br><br><br>
        <h1 class="mb-4 text-white mt-5">Utilizatori</h1>
        <a href="{{ path('create_user') }}" class="btn btn-light mb-4">Adauga utilizator</a>
        <div class="row">
            {% for user in users %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body bg-dark text-white">
                            <div class="d-flex flex-row justify-content-between">
                                <h5 class="card-title">{{ user.getName }}</h5>
                                <a href="{{ path('edit_user', {'id': user.getId}) }}" class="btn btn-light ms-5">Editeaza</a>
                            </div>
                            <br>
                            <h6 class="card-subtitle mb-2 text-muted">Gen: {{ user.getGenderAsString }}</h6>
                            <div class="d-flex flex-column justify-content-between">
                               <h6 class="card-subtitle mb-3 text-muted">Data nasterii: {{ user.getBirthday|date('Y-m-d')  }}</h6>

                                <form action="{{ path('delete_user', {'id': user.getId}) }}" method="post" onsubmit="return confirm('Esti sigur ca vrei sa stergi acest utilizator?');" class="d-inline">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.getId) }}">
                                    <button class="btn btn-danger " type="submit">Sterge</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="second-white-bar">.</div>
    {% include '/homepage/footer.html.twig' %}
{% endblock %}